Repository pimcore/admin-ui-classic-bundle, pull requests merged in 2024-11, with the labels that each got.

#741 Fix: Filter for relation throws an error
  public/js/pimcore/element/helpers/gridCellEditor.js
  public/js/pimcore/element/helpers/gridColumnConfig.js
  public/js/pimcore/functions.js
  public/js/pimcore/object/tags/abstract.js
Labels: Bug, Pimcore:ToDo

#735 Fix: Encrypted Field's Label settings don't change
  public/js/pimcore/object/tags/encryptedField.js
Labels: Pimcore:ToDo

#739 Update PimcoreApp-all_1.css
  public/extjs/css/PimcoreApp-all_1.css
Labels: Pimcore:ToDo

#749 [Bug]: Fix Icon library Jquery CSP problem
  src/Security/ContentSecurityPolicyHandler.php
Labels: Bug, Pimcore:Priority

#747 [Bugfix] Pass allowedTypes correctly on video editable
  public/js/pimcore/document/editables/video.js
Labels: Bug, Pimcore:ToDo

#602 Fix remaining duplicate permission issues from #14995
  src/Installer.php
Labels: Pimcore:ToDo

#727 [Bug]: Fix root elements not being assignable to pimcore_relation
  public/js/pimcore/asset/tree.js
  public/js/pimcore/document/tree.js
  public/js/pimcore/object/tree.js
Labels: Pimcore:ToDo

#760 [Bug]: Fix root elements not being assignable to pimcore_relation
  public/js/pimcore/asset/tree.js
  public/js/pimcore/document/tree.js
  public/js/pimcore/object/tree.js
Labels: Bug

#740 [2FA] Set default issuer to "Pimcore" instead of "Pimcore 2 Factor Authentication"
  config/pimcore/two_factor_authentication.yaml
Labels: Pimcore:ToDo

#757 [Bug] Readding check to solve update/move problem of objects
  public/js/pimcore/object/tree.js
Labels: Bug, Pimcore:ToDo

#738 [Bug]: Fix deletion of context.objectId
  public/js/pimcore/object/tags/abstractRelations.js
Labels: Pimcore:ToDo

#745 Fix formatting for alias on relations
  src/DataObject/GridColumnConfig/Value/DefaultValue.php
Labels: Pimcore:ToDo

#770 [Task] Update dependencies
  CHANGELOG.md
  composer.json
Labels: Improvement, Task, Pimcore:ToDo
