Repository pimcore/admin-ui-classic-bundle, pull requests merged in 2024-08, with the labels that each got.

#621 Data Object: Version preview fix for localized values inside field collections
  templates/admin/data_object/data_object/preview_version.html.twig
Labels: Bug, Pimcore:ToDo

#636 Fix ManyToOne relation width with combo display mode
  public/js/pimcore/object/tags/manyToOneRelation.js
Labels: Pimcore:ToDo

#649 [Task]: Follow-up by removing `symfony/string` conflict
  composer.json
Labels: Task, Pimcore:ToDo

#647 Fix: Missing objectId context in gridCellEditor
  public/js/pimcore/element/helpers/gridCellEditor.js
Labels: Bug

#559 Field type "Table": add button to clone row
  public/css/icons.css
  public/js/pimcore/object/tags/table.js
Labels: Pimcore:ToDo

#644 [Improvement] Trigger an event before TinyMCE uses the final config for better extendibility
  public/js/pimcore/events.js
Labels: Pimcore:ToDo

#648 Add missing label defaults to numeric control
  public/js/pimcore/object/tags/numeric.js
Labels: Pimcore:ToDo

#653 [Bug]: Fix print document save error
  public/js/pimcore/document/document.js
Labels: Bug, Pimcore:ToDo, Pimcore:Priority

#654 Bugfix - Sharing grids to users
  src/Controller/Admin/Asset/AssetHelperController.php
  src/Controller/Admin/DataObject/DataObjectHelperController.php
Labels: Pimcore:ToDo

#661 [Bug]: can not save numeric brick-field in grid
  src/Controller/Admin/DataObject/DataObjectActionsTrait.php
Labels: Bug, Pimcore:ToDo

#422 Add user permission check on updateCompatibleUnitsToolTipContent
  public/js/pimcore/object/tags/quantityValue.js
Labels: Bug, Pimcore:ToDo

#671 [Bug]: Prevent displaying delete button on not allowed to delete buttons
  public/js/pimcore/object/folder/search.js
Labels: Bug, Pimcore:ToDo

#670 [Bug, EC]: Saving a grid view makes read-only columns visually editable
  src/Controller/Admin/DataObject/DataObjectHelperController.php
Labels: Bug, Pimcore:ToDo

#641 [Improvement] video.js - optimize regex to match more youtube url cases like "shorts"
  public/js/pimcore/object/tags/video.js
Labels: Improvement, Pimcore:ToDo
