Repository pimcore/admin-ui-classic-bundle, pull requests merged in 2024-05, with the labels that each got.

#519 [Asset upload] Provide translation parameters in correct order
  src/Controller/Admin/Asset/AssetController.php
Labels: Pimcore:ToDo

#517 PhpCsFixer: Execute on pull requests
  .github/workflows/php-cs-fixer.yaml
Labels: Pimcore:ToDo

#507 Fix: Numeric Editable config option "decimalPrecision" does not work
  public/js/pimcore/document/editables/numeric.js
Labels: Bug, Pimcore:ToDo

#516 [Bug]: Restore `class name`(object) and `id` in toolbar submenu
  public/js/pimcore/asset/asset.js
  public/js/pimcore/asset/folder.js
  public/js/pimcore/document/folder.js
  public/js/pimcore/document/hardlink.js
  public/js/pimcore/document/link.js
  public/js/pimcore/document/page_snippet.js
  public/js/pimcore/object/folder.js
  public/js/pimcore/object/object.js
Labels: Bug, Pimcore:ToDo, Pimcore:Priority

#520 [Improvement] Feature/input quantity value cell editor
  public/js/pimcore/object/tags/inputQuantityValue.js
Labels: Improvement, Pimcore:ToDo

#442 Enable the selection of WebP & AVIF in the format selection of image thumbnails
  public/js/pimcore/settings/thumbnail/item.js
Labels: Pimcore:ToDo

#473 [Thumbnail] Mirror image via thumbnail configuration
  public/js/pimcore/settings/thumbnail/item.js
  translations/admin_ext.en.yaml
Labels: Pimcore:ToDo

#521 [Bug, LTS]: Delete all versions controller action does not respect element type
  public/js/pimcore/asset/versions.js
  public/js/pimcore/document/versions.js
  public/js/pimcore/object/versions.js
  src/Controller/Admin/ElementController.php
Labels: Bug, Pimcore:ToDo

#508 NotificationController: Set limit/offset as integer
  src/Controller/Admin/NotificationController.php
Labels: Pimcore:ToDo

#505 [Bug]: Fix "getSaveData is not a function" in Folder context
  public/js/pimcore/object/tags/manyToManyObjectRelation.js
  public/js/pimcore/object/tags/manyToOneRelation.js
Labels: Pimcore:ToDo

#529 [Bug]: Fix calling isAllowed on `null`
  src/Controller/Admin/ElementControllerBase.php
Labels: Bug, Pimcore:ToDo

#518 [FIX]: Dynamic Text Labels preview
  src/Controller/Admin/DataObject/ClassController.php
Labels: Pimcore:ToDo

#532 Fix: hide empty toolbar item
  public/js/pimcore/layout/toolbar.js
Labels: Bug

#504 [GridConfigDialog] Fix Uncaught Error: Duplicate component id "tree"
  public/js/pimcore/object/helpers/gridConfigDialog.js
Labels: Pimcore:ToDo

#534 [Bug]: Fix visual bug that scheduled date is in different format
  public/js/pimcore/element/scheduler.js
Labels: Bug, Pimcore:ToDo

#524 [Improvement, EC]: Display read-only asset metadata when granted view permission
  CHANGELOG.md
  public/js/pimcore/asset/archive.js
  public/js/pimcore/asset/audio.js
  public/js/pimcore/asset/document.js
  public/js/pimcore/asset/image.js
  public/js/pimcore/asset/metadata/grid.js
  public/js/pimcore/asset/text.js
  public/js/pimcore/asset/unknown.js
  public/js/pimcore/asset/video.js
Labels: Improvement, Pimcore:ToDo

#533 [Bug]: Fix last generated static page date displayed as 1970
  public/js/pimcore/document/settings_abstract.js
Labels: Bug, Pimcore:ToDo

#479 Fix UX for inherited boolean properties
  public/js/pimcore/element/properties.js
Labels: Pimcore:ToDo

#538 Fixes problem when post_max_size is set to unlimited but upload_max_filesize has a limit
  src/Controller/Admin/IndexController.php
Labels: Bug, Pimcore:ToDo

#445 Fix consideration of checked tags with collapsed parent tag
  public/js/pimcore/element/tag/tree.js
Labels: Pimcore:ToDo

#546 [Bug]: Hide search input field when Simple Backend Search bundle is not active
  public/js/pimcore/object/helpers/gridTabAbstract.js
Labels: Bug
