Repository pimcore/admin-ui-classic-bundle, pull requests merged in 2024-09, with the labels that each got.

#677 [Security] Upgrading to ^2.2
  composer.json
  src/Controller/Admin/DataObject/DataObjectController.php
  src/Controller/Admin/DataObject/DataObjectHelperController.php
  src/Controller/Admin/ElementController.php
  src/Controller/Admin/MiscController.php
  src/Controller/Admin/TranslationController.php
  src/Helper/GridHelperService.php
  src/Service/PreviewGenerator.php
  src/System/AdminConfig.php
Labels: Security

#656 Show tree search if paging is not necessary
  CHANGELOG.md
  public/js/pimcore/overrides.js
Labels: Improvement, Pimcore:ToDo

#664 [Object editing] Relational fields' grid: remember column widths
  public/js/pimcore/object/tags/abstractRelations.js
  public/js/pimcore/object/tags/advancedManyToManyObjectRelation.js
  public/js/pimcore/object/tags/advancedManyToManyRelation.js
  public/js/pimcore/object/tags/manyToManyObjectRelation.js
  public/js/pimcore/object/tags/manyToManyRelation.js
Labels: Improvement, Pimcore:ToDo

#420 [IMPROVEMENT] Assets:upload zip archive-option to overwrite files
  public/js/pimcore/asset/tree.js
  src/Controller/Admin/Asset/AssetController.php
  translations/admin.en.yaml
Labels: Pimcore:ToDo

#683 DateRange: Fix unexpected use of comma operator
  public/js/pimcore/object/tags/dateRange.js
Labels: Pimcore:ToDo

#680 [Bug]: Object Grid - Unselect all rows after bulk change
  public/js/pimcore/element/helpers/gridColumnConfig.js
Labels: Bug, Pimcore:Priority

#682 Fix date range fields read only
  public/js/pimcore/object/tags/dateRange.js
Labels: Bug, Pimcore:Priority

#684 Fix display reverse relation field error in grid view
  public/css/admin.css
  public/js/pimcore/object/tags/reverseObjectRelation.js
Labels: Bug, Pimcore:ToDo

#681 Fix resolve display issue in grid view for filter by link feature
  public/js/pimcore/element/helpers/gridColumnConfig.js
Labels: Bug, Pimcore:ToDo

#687 Remove double width in gridColumConfig after fixing display reverse relation field error in grid view
  public/js/pimcore/element/helpers/gridColumnConfig.js
Labels: Bug

#390 Prevent accidentical removal of whole folder instead of deleting selected assets / objects
  CHANGELOG.md
  public/js/pimcore/asset/folder.js
  public/js/pimcore/asset/listfolder.js
  public/js/pimcore/elementservice.js
  public/js/pimcore/object/folder.js
  public/js/pimcore/object/folder/search.js
  src/Controller/Admin/ElementControllerBase.php
  translations/admin.en.yaml
Labels: Improvement, Pimcore:ToDo

#689 [Bug]: Fix Access-Control-Allow-Origin in AssetController
  src/Controller/Admin/Asset/AssetController.php
Labels: Bug

#612 correctly dispatch pre set metadata event
  src/Controller/Admin/Asset/AssetController.php
  src/Controller/Admin/Asset/AssetHelperController.php
Labels: Pimcore:ToDo

#645 Fix: ManyToOne relation in combo display mode doesn't respect path formatter
  public/js/pimcore/object/tags/manyToOneRelation.js
Labels: Pimcore:ToDo

#695 [Improvement] Add confirmation prompt for Quantity Value
  public/js/pimcore/object/quantityvalue/unitsettings.js
  translations/admin.en.yaml
Labels: Improvement

#663 Added grid preview for field collections
  public/js/pimcore/object/tags/fieldcollections.js
  src/Service/GridData/DataObject.php
Labels: Improvement, Pimcore:ToDo

#547 Many-to-many object relation / multiselect in tag mode: support drag & drop to change order of assigned items
  public/js/lib/ext-plugins/DragDropTag.js
  public/js/pimcore/object/tags/manyToManyObjectRelation.js
  public/js/pimcore/object/tags/multiselect.js
  templates/admin/index/index.html.twig
Labels: Pimcore:ToDo

#701 [Bug] Prevent accidentical removal of whole folder instead of deleting follow up for light theme
  public/js/pimcore/asset/folder.js
  public/js/pimcore/object/folder.js
Labels: Bug, Pimcore:Priority

#692 [Grid] Support sorting by object brick quantity value field
  src/Helper/GridHelperService.php
Labels: Pimcore:ToDo
