Repository pimcore/admin-ui-classic-bundle, pull requests merged in 2024-10, with the labels that each got.

#704 fix: tooltip error for not editable many to many relation
  public/js/pimcore/object/tags/manyToManyRelation.js
Labels: Bug, Pimcore:ToDo

#710 Fix undefined error when copy and paste
  public/js/pimcore/object/classes/data/reverseObjectRelation.js
Labels: Bug, Pimcore:ToDo

#706 Fix: Custom asset metadata of type object cant be set in asset gridview.
  public/js/pimcore/asset/metadata/tags/manyToOneRelation.js
Labels: Pimcore:ToDo

#714 [Bug]: Fix empty window remains after upload failure or on cancel
  public/js/pimcore/helpers.js
Labels: Pimcore:ToDo

#716 Fixed inheritance of classificationstore values in data grid.
  src/Service/GridData/DataObject.php
Labels: Bug, Pimcore:ToDo

#723 [Bug] Fix manual sorting
  public/js/pimcore/object/tree.js
  public/js/pimcore/overrides.js
Labels: Bug, Pimcore:ToDo

#728 [Task] Resolve Deprecation ResolveUploadTargetEvent
  composer.json
  src/Controller/Admin/Asset/AssetController.php
Labels: Task

#715 Field type Table: Copy / Paste
  public/js/pimcore/object/tags/table.js
Labels: Pimcore:ToDo

#733 [Bug]: Fix PDF scanner perfomed on AI files
  src/Controller/Admin/Asset/AssetController.php
Labels: Bug, Pimcore:ToDo
