Repository pimcore/admin-ui-classic-bundle, pull requests merged in 2025-02, with the labels that each got.

#828 Fixed ExtJS chart warning in console
  public/js/pimcore/layout/portlets/modificationStatistic.js
Labels: Bug, Pimcore:Backlog

#819 Allow filtering Asset grid by id.
  public/js/pimcore/asset/helpers/grid.js
Labels: Pimcore:ToDo

#816 add nesbot/carbon to composer
  composer.json
  src/DataObject/GridColumnConfig/Operator/DateFormatter.php
  src/Helper/QueryParams.php
Labels: Pimcore:ToDo

#834 [Task] Remove removed method from IndexController
  src/Controller/Admin/IndexController.php
Labels: BC-BREAK, Task, Pimcore:ToDo

#765 [Select Options] Admin only restriction
  public/js/pimcore/object/selectoptions.js
  public/js/pimcore/object/selectoptionsitems/definition.js
  src/Controller/Admin/DataObject/ClassController.php
  translations/admin_ext.en.yaml
Labels: Improvement, Pimcore:ToDo

#821 Fix: Add missing method “getComposerPackageName()” to get the correct bundle name and version
  src/PimcoreAdminBundle.php
Labels: Pimcore:ToDo

#763 [Relational fields] Sort options for column filters alphabetically
  public/js/pimcore/object/tags/abstractRelations.js
  public/js/pimcore/object/tags/advancedManyToManyObjectRelation.js
  public/js/pimcore/object/tags/advancedManyToManyRelation.js
  public/js/pimcore/object/tags/manyToManyObjectRelation.js
  public/js/pimcore/object/tags/manyToManyRelation.js
Labels: Pimcore:ToDo

#766 [BUG] Grid view configuration: Performance problems when searching for object definition fields
  public/js/pimcore/object/helpers/classTree.js
Labels: Pimcore:ToDo

#837 Fix Stan
  src/Controller/Admin/DataObject/ClassController.php
Labels: Bug

#750 [Improvement] Add option editor to select options
  public/js/pimcore/object/helpers/optionEditor.js
  public/js/pimcore/object/selectoptionsitems/definition.js
Labels: Pimcore:ToDo

#839 [Task] Add container extension
  src/PimcoreAdminBundle.php
Labels: Task, Pimcore:ToDo

#842 [Task] Removed deprecated password hashing algorithms
  public/js/pimcore/object/classes/data/password.js
  src/Controller/Admin/SettingsController.php
Labels: BC-BREAK, Task
