Repository pimcore/admin-ui-classic-bundle, pull requests merged in 2025-06, with the labels that each got.

#927 [Bug, EC]: PEES-547: Assets: Actions forbidden in workflow appear in context menu
  src/Service/ElementService.php
Labels: Bug, Pimcore:Priority

#812 [Improvement] Add search functionality to classificationstore
  public/js/pimcore/object/classificationstore/collectionsPanel.js
  public/js/pimcore/object/classificationstore/groupsPanel.js
  public/js/pimcore/object/classificationstore/propertiesPanel.js
  src/Controller/Admin/DataObject/ClassificationstoreController.php
Labels: Pimcore:ToDo, Pimcore:Backlog

#809 Add concept of column readOnly to advancedManyToManyRelation
  public/js/pimcore/object/tags/advancedManyToManyRelation.js
Labels: Improvement, Pimcore:ToDo, Pimcore:Backlog

#887 Dispatching event within errorHandler function while executing upload asset via asset tree
  public/js/pimcore/asset/tree.js
  public/js/pimcore/events.js
Labels: Pimcore:ToDo, Pimcore:Backlog

#908 [Documents] Areablock: Support controlsTrigger "click"
  public/js/pimcore/document/editables/areablock.js
Labels: Pimcore:ToDo, Pimcore:Backlog

#252 Default value input fields for Multiselect
  CHANGELOG.md
  public/js/pimcore/object/classes/data/multiselect.js
  public/js/pimcore/object/classes/data/select.js
  public/js/pimcore/object/helpers/gridEditor.js
  public/js/pimcore/object/helpers/selectField.js
  templates/admin/index/index.html.twig
Labels: Improvement, Pimcore:ToDo, Pimcore:Priority

#947 Marking classification fields as dirty when changed in the grid-view
  src/Controller/Admin/DataObject/DataObjectActionsTrait.php
  src/Controller/Admin/DataObject/DataObjectHelperController.php
Labels: Bug

#958 [Bug, EC] PEES-578: Datahub Simple Rest API bundle flattening numeric fields values to a blank string when wrapped in an operator
  src/DataObject/GridColumnConfig/Operator/Alias.php
Labels: Bug
