Repository pimcore/admin-ui-classic-bundle, pull requests merged in 2025-05, with the labels that each got.

#924 [Bug]: Fix grid filtering for ID
  src/Helper/GridHelperService.php
Labels: Bug

#923 Fix invalid 2FA path name
  templates/admin/login/two_factor_authentication.html.twig
Labels: Bug, Pimcore:ToDo

#886 fix: First unit not showing up in a dropdown
  public/js/pimcore/object/quantityvalue/unitsettings.js
Labels: Bug, Pimcore:ToDo, Pimcore:Priority

#875 Fix: Translate dashboard titles in toolbar and panel instead of displaying the “key”
  public/js/pimcore/layout/portal.js
  public/js/pimcore/layout/toolbar.js
Labels: Improvement, Pimcore:ToDo, Pimcore:Priority

#925 BUG: Language Select in Toolbar saves in wrong locale
  public/js/pimcore/object/tags/localizedfields.js
Labels: Bug, Pimcore:ToDo, Pimcore:Priority

#931 [Bug]: Imagick icc profile and thumbnails
  public/js/pimcore/settings/thumbnail/item.js
  translations/admin_ext.en.yaml
Labels: Bug, Pimcore:ToDo

#791 Field Type Table: Support drag & drop to change order of rows
  public/js/pimcore/object/tags/table.js
Labels: Pimcore:ToDo, Pimcore:Priority

#861 Advanced Many-to-Many (Object) Relations: Support opening assigned element via double-click
  public/js/pimcore/object/tags/advancedManyToManyObjectRelation.js
  public/js/pimcore/object/tags/advancedManyToManyRelation.js
Labels: Pimcore:ToDo, Pimcore:Priority

#889 [Classes] Add search
  public/js/pimcore/object/class.js
  public/js/pimcore/object/fieldcollection.js
  public/js/pimcore/object/objectbrick.js
Labels: Pimcore:ToDo, Pimcore:Priority

#910 [Grid] Support filtering by multiple values in column filter
  src/Helper/GridHelperService.php
Labels: Improvement, Pimcore:ToDo

#918 [Feature]: Drag&Drop support to sort ManyToMany editable
  public/js/pimcore/document/editables/relations.js
Labels: Pimcore:ToDo, Pimcore:Priority

#854 [Improvement] Add drag and drop to relations editable for documents
  public/js/pimcore/document/editables/relations.js
Labels: Pimcore:ToDo, Pimcore:Priority

#906 [Task]: Translate version tab
  templates/admin/data_object/data_object/diff_versions.html.twig
  templates/admin/data_object/data_object/preview_version.html.twig
Labels: Task, Pimcore:ToDo, Pimcore:Priority

#933 [PEES-556] Repeated batch edits of Images/Documents breaks EXT.js UI
  public/js/pimcore/overrides.js
Labels: Bug
